ADMIN_PORT=18083
EMQX_DASHBOARD__DEFAULT_PASSWORD=${{ secret(18) }}
EMQX_DASHBOARD__LISTENERS__HTTP__BIND=:::${{ADMIN_PORT}}
EMQX_DASHBOARD__LISTENERS__HTTP__INET6=true
EMQX_LISTENERS__SSL__DEFAULT__BIND=[::]:${{SSL_PORT}}
EMQX_LISTENERS__TCP__DEFAULT__BIND=[::]:${{TCP_PORT}}
EMQX_LISTENERS__WSS__DEFAULT__BIND=[::]:${{WSS_PORT}}
EMQX_LISTENERS__WS__DEFAULT__BIND=[::]:${{WS_PORT}}
EMQX_NODE__COOKIE=${{ secret(64) }}
SSL_PORT=8883
TCP_PORT=1883
WSS_PORT=8084
WS_PORT=8083
EMQX_AUTHENTICATION__1__ENABLE=true
EMQX_AUTHENTICATION__1__MECHANISM=password_based
EMQX_AUTHENTICATION__1__PASSWORD_HASH_ALGORITHM__NAME=bcrypt
EMQX_AUTHENTICATION__1__QUERY="SELECT password_hash, salt FROM mqtt.users where username = ${username} LIMIT 1"
EMQX_AUTHENTICATION__1__BACKEND=postgresql
EMQX_AUTHENTICATION__1__DATABASE=postgres
EMQX_AUTHENTICATION__1__SERVER="localhost:5434"
EMQX_AUTHENTICATION__1__USERNAME=postgres
EMQX_AUTHENTICATION__1__PASSWORD=developemnt
